@import url('./fonts/include_fonts.css');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
em {
	font-style: italic;
}
*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* Sticky Footer */
html, body {
	height: 100%;
}
#container { /* Try clearfixing your container if layout isn't working */
	margin: 0 auto;
	min-height: 100%;
	margin-bottom: -50px;
	padding-bottom: 50px;
}
footer {
	height: 50px;
}
footer p {
	line-height: 50px;
	font-size: .8em;
	font-style: italic;
	text-align: center;
}
/* Max-Width of 1024 for site content */
#header-wrap, #footer-wrap {
	width: 100%;
}
.content {
	max-width: 1024px;
	margin: 0 auto;
}
/* Grid Stuff */
.clearfix:after { /* Gotta clearfix every grid */
	display: table;
	clear: both;
	content: '';
}
.grid {
	width: 100%;
}
.grid.nopad * {
    padding: 0;
}
[class*='col-'] {
	float: left;
	padding: 10px 15px 10px 0;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
.col-1-2 {
	width: 50%;
}
.col-1-4 {
	width: 25%;
}
.col-3-4 {
	width: 75%;
}
.col-1-1 {
	width: 100%;
}
.col-1-5 {
	width: 20%;
}
.col-4-5 {
	width: 80%;
}
.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-3-10 {
	width: 30%;
}
.col-1-10 {
	width: 10%;
}
.col-1-8 {
    width: 12.5%;
}
.col-7-8 {
    width: 87.5%;
}
/* Header */
header {
	height: 100px;
}
header #logo {
	background: url("../images/img_frame.png");
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
	display: inline-block;
	text-indent: -9999px;
	margin-right: 10px;
	float: left;
}
#notLogo h1 {
	height: 75px;
	font-size: 50px;
	margin-bottom: 0;
	line-height: 1.3em;
	padding-top: 3px;
}
#notLogo nav {
	height: 25px;
}
header nav li {
	float: left;
	text-decoration: none;
	margin-right: 20px;
}


/* Color Scheme */
body {
	background-color: #f0f0f4;
	color: #3a3d41;
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
}
#header-wrap, #footer-wrap {
	background-color: #3a3d41;
	color: #f4a61d;
}
h1 {
	color: #61a3d6;
	font-weight: 600;
}
h2 {
	color: #f45848;
	font-size: 2em;
	font-weight: 600;
}
header h1 {
	color: #f4a61d;
}
a {
	text-decoration: none;
	color: #f45848;
}
a:hover, a:active {
	color: #f4a61d;
	border-bottom: 1px solid #61a3d6;
}
nav a:link, nav a:active, nav a:visited {
	color: #f0f0f4;
}
nav a:hover {
	color: #61a3d6;
	border-bottom: 1px solid #f4a61d;
}
input[type='submit'], a.button, button {
	background-color: #f4a61d;
	color: #f0f0f4;
	font-family: "Bebas Neue", sans-serif;
	font-weight: 600;
	letter-spacing: .03em;
	font-size: 1em;
	padding: 8px 10px 5px;
	border: 0;
	cursor: pointer;
	margin-top: 15px;
	border: 1px solid #f4a61d;
}
input[type='submit']:hover, a.button:hover, button:hover {
	background-color: #f0f0f4;
	color: #f4a61d;
}
button {
	background-color: #f45848;
	border-color: #f45848;
	padding: 4px 8px 1px;
}
button:hover {
	color: #f45848;
}
button.alt {
	background-color: #f0f0f4;
	color: #61a3d6;
	border-color: #f0f0f4;
}
button.alt:hover, button.select.alt {
	background-color: #61a3d6;
	border-color: #61a3d6;
	color: #f0f0f4;
}
.center button {
	padding: 4px 8px 1px;
}
.orange {
	color: #f4a61d;
}
.blue {
	color: #61a3d6;
}
.pink {
	color: #f45848;
}
.thin {
	font-weight: 100;
}
.light {
	font-weight: 200;
}
.book {
	font-weight: 300;
}

.list_surveys ul li:first-of-type a, #edit {
	color: #f4a61d;
	border: 0;
	font-style: italic;
	font-weight: 600;
	font-size: 1.2em;
}
.list_surveys ul li:first-of-type a:hover {
	color: #61a3d6;
}

/* Arbitrary Stylings */
.float-right {
	float: right;
}
table {
	width: 100%;
}
td {
	width: 25%;
}
td:last-child {
	width:75%;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.red {
	color: #F00;
}
h1 {
	font-size: 3em;
	margin-bottom: 10px;
}
.underline_box {
	border-bottom: 1px solid #3a3d41;
}
.underline_box:last-of-type {
	border-bottom-width: 0;
}
li.underline {
	border-bottom: 1px solid #3a3d41;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.push_bot_5 {
	margin-bottom: 5px;
}
ul.dotted {
	margin-left: 40px;
}
.big_text {
	font-size: 2em;
}
.no_top_pad * {
	padding-top: 0;
}
.indent {
	margin-left: 1em;
}
.little_big {
	font-size: 1.5em;
}




